<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalConnection"
			 connectionString="Server=127.0.0.1; Port=3306; User ID=opiskelija; Pwd=opiskelija1;"
			 providerName="MySqlConnector" />

		<add name="LocalWithDbConnection"
			 connectionString="Server=127.0.0.1; Port=3306; User ID=opiskelija; Pwd=opiskelija1; Database=varausjarjestelma"
			 providerName="MySqlConnector" />
	</connectionStrings>
</configuration>